<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome To Easy-Invoice</title>
</head>
<body>
  <h3>Verify Your account!</h3>
  <p>
    Hi <b>{{name}}</b>, thank you for registering your account!
  </p>
  <p>Please verify your account by clicking <b><a href="{{link}}">this link!</a></b></p>
  <p>Kindly note that this link will be valid for the next 15 minutes only.</p>
</body>
</html>