<!DOCTYPE html>
<html lang="en">
<head>
  <title>Password Reset Request</title>
</head>
<body>
  <h3>Password Reset Request</h3>
  <p>
    Hi <b>{{name}}</b>,
  </p>
  <p>Reset your password by clicking on <b><a href="{{link}}">this link!</a></b></p>
  <p>Kindly note that this link will be valid for the next 15 minutes only.</p>
</body>
</html>