<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome To Easy-Invoice</title>
</head>
<body>
  <h3>Account verified!</h3>
  <p>
    Hi <b>{{name}}</b>, thank you for verifying your account!
  </p>
  <p>You can now click this link to <b><a href="{{link}}">Login to your account!</a></b></p>
  <p>Hope you found our service of value.</p>
</body>
</html>